{% extends 'base.html' %} {% block title %}Dashboard{% endblock %} {% block nav
%}
<ul class="navbar-nav align-items-center w-100">
  <li class="nav-item text-light mr-auto">Hello, {{ email.split('@')[0] }}</li>
  <button class="btn btn-outline-light mr-3" id="add-application-btn">
    + application
  </button>
  <form method="post" action="/logout">
    <button class="btn custom-button" type="submit">logout</button>
  </form>
</ul>
{% endblock %} {% block content %}
<section class="apps-container mt-2">
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th><i class="fa-solid fa-trash-can" id="deleteappbtn"></i></th>
        <th>Status <i class="fa-solid fa-sort"></i></th>
        <th>Company <i class="fa-solid fa-sort"></i></th>
        <th>Position <i class="fa-solid fa-sort"></i></th>
        <th>Description <i class="fa-solid fa-sort"></i></th>
        <th>Posting Link</th>
        <th>Last Updated <i class="fa-solid fa-sort"></i></th>
      </tr>
    </thead>
    <tbody>
      {% for application in applications %}
      <tr id="{{ application.id }}">
        <td>
          <input type="checkbox" value="{{ application.id }}" />
        </td>
        <td>{{ application.status }}</td>
        <td>{{ application.company }}</td>
        <td>{{ application.position }}</td>
        <td>{{ application.description }}</td>
        <td>
          <a
            href="{{application.posting_link}}"
            target="_blank"
            class="posting-link"
            ><i class="fa-solid fa-link"></i
          ></a>
        </td>
        <td>{{ application.xata.updatedAt|format_date }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

<!-- Modal for updating application -->
<div
  class="modal fade"
  id="application-modal"
  tabindex="-1"
  aria-labelledby="application-modal-label"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="application-modal-label">
          Application Modal Title
        </h5>
      </div>
      <div class="modal-body px-4">
        <section id="updateAppForm">
          <div class="mb-3">
            <label for="company" class="form-label">Company</label>
            <input
              type="text"
              class="form-control"
              id="company"
              name="company"
            />
          </div>
          <div class="mb-3">
            <label for="position" class="form-label">Position</label>
            <input
              type="text"
              class="form-control"
              id="position"
              name="position"
            />
          </div>
          <div class="mb-3">
            <label for="posting-link" class="form-label">Posting Link</label>
            <input
              type="text"
              class="form-control"
              id="posting-link"
              name="posting-link"
            />
          </div>
          <div class="mb-3">
            <label for="status" class="form-label">Status</label>
            <select class="form-control" id="status" name="status">
              <option value="applied">Applied</option>
              <option value="phone interview">Phone Interview</option>
              <option value="interview">Interview</option>
              <option value="offered">Offered</option>
              <option value="rejected">Rejected</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea
              class="form-control"
              id="description"
              name="description"
              rows="3"
            ></textarea>
          </div>
          <input
            type="hidden"
            name="saveapplicationid"
            id="saveapplicationid"
            value=""
          />
        </section>
      </div>
      <div class="modal-footer">
        <input
          type="hidden"
          name="delapplicationid"
          id="delapplicationid"
          value=""
        />
        <button type="button" class="btn btn-dark" id="saveappbtn">
          Save Changes
        </button>
        <button type="button" class="btn btn-outline-danger" id="closeappbtn">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for new application -->
<div
  class="modal fade"
  id="new-application-modal"
  tabindex="-1"
  aria-labelledby="new-application-modal-label"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new-application-modal-label">
          New Application
        </h5>
      </div>
      <div class="modal-body px-4">
        <section id="application-form">
          <div class="mb-3">
            <label for="company" class="form-label">Company</label>
            <input
              type="text"
              class="form-control"
              id="company"
              name="company"
              placeholder="Google, Amazon, etc."
            />
          </div>
          <div class="mb-3">
            <label for="position" class="form-label">Position</label>
            <input
              type="text"
              class="form-control"
              id="position"
              name="position"
              placeholder="Software Developer Intern"
            />
          </div>
          <div class="mb-3">
            <label for="posting-link" class="form-label">Posting Link</label>
            <input
              type="text"
              class="form-control"
              id="posting-link"
              name="posting-link"
              placeholder="Link to job posting - LinkedIn, Indeed, etc."
            />
          </div>
          <div class="mb-3">
            <label for="status" class="form-label">Status</label>
            <select class="form-control" id="status" name="status">
              <option value="applied">Applied</option>
              <option value="phone interview">Phone Interview</option>
              <option value="interview">Interview</option>
              <option value="offered">Offered</option>
              <option value="rejected">Rejected</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea
              class="form-control"
              id="description"
              rows="3"
              name="description"
              placeholder="Location, rate, anything you would like to note..."
            ></textarea>
          </div>
        </section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" id="addappbtn">Add</button>
        <button type="button" class="btn btn-outline-danger" id="closeappbtn">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='dashboard.js') }}"></script>
{ {% endblock %}
