/* colors
    #41ead4
    #fbff12
    #ffffff
*/

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
* {
  font-family: 'Source Code Pro', monospace;
}

body {
  background-color: #0c0f0a;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

footer {
  color: #ffffff4f;
  margin-top: auto;
  padding: 1rem;
  text-align: center;
}

a {
  color: #41ead4;
}

a:hover {
  color: #31b3a2;
}

nav i:hover {
  color: rgba(255, 255, 255, 0.497);
}

.splash-container {
  width: 100%;
  color: #ffffff;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splash-container p {
  color: #fbff12;
}

.auth-modal {
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
}

.custom-button {
  border: 1px solid #41ead4;
  color: #41ead4;
}

.custom-button:hover {
  background-color: #41ead4;
  color: #0c0f0a;
}

.modal-content {
  color: #7458ab;
  background-color: #e6e6fa;
}

.modal-button {
  border: 1px solid #7458ab;
  color: #7458ab;
}

.modal-button:hover {
  background-color: #7458ab;
  color: #0c0f0a;
}

/* DASHBOARD STYLES */

h2 {
  color: #9370db;
}

.container {
  min-width: 100%;
}

.status-container {
  height: 75vh;
  overflow-y: scroll;
  padding: 1rem;
}

/* For Chrome, Safari, and Opera */
.status-container::-webkit-scrollbar {
  width: 10px;
}

.status-container::-webkit-scrollbar-track {
  background: transparent;
}

.status-container::-webkit-scrollbar-thumb {
  background: rgba(121, 121, 121, 0.5);
}

/* For Firefox */
.status-container {
  scrollbar-width: thin;
  scrollbar-color: rgba(121, 121, 121, 0.5) transparent;
}

.application {
  width: 100%;
  min-height: auto;
  background-color: #e6e6fa;
  margin-bottom: 1.5rem;
  border-radius: 5px;
  text-align: left;
  padding: 1.25rem;
}

.application p {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.application:hover {
  background-color: #d8d8f3;
  cursor: pointer;
}

.offered {
  border: 3px solid #34c167;
}

.rejected {
  border: 3px solid #ea4141;
}

.company {
  font-size: 1.5rem;
  font-weight: bold;
  color: #0c0f0a;
}

.company a {
  float: right;
}

.company a {
  color: #9370db;
}

.company a:hover {
  color: #563f85;
}

.description {
  color: rgb(156, 156, 156);
}
